<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>

<body>
    <div>
        <h1>Process id:<%=data.processId%>
        </h1>
        <p>Argumentos de entrada:<%=data.argv%>
        </p>
        <p>Nombre de plataforma:<%=data.platformName%>
        </p>
        <p>Version node.js: <%=data.nodeV%>
        </p>
        <p>Memoria total reservada: <%=data.memory%>
        </p>
        <p>Path de ejecucion:<%=data.path%>
        </p>
        <p>Carpeta:<%=data.dir%>
        </p>
    </div>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola</h1>
</body>
</html> -->