html
  head
    title Server Configuration
    body(style="background-color: black; font-family: Arial, sans-serif;")
    h1(style="color: #fe5274") Server Configuration
    ul
      li(style="color: white") Argumentos de entrada: #{info.argvs}
      li(style="color: white") Sistema operativo: #{info.SO}
      li(style="color: white") Versión de Node: #{info.version_node}
      li(style="color: white") RSS: #{info.RSS}
      li(style="color: white") PATH de ejecución: #{info.PATH_de_ejecucion}
      li(style="color: white") ID de proceso: #{info.PROCESS_ID}
      li(style="color: white") Carpeta del proyecto: #{info.Carpeta_del_proyecto}
      li(style="color: white") Número de procesadores: #{info.numero_de_procesadores}