body(style="background-color: black; font-family: Arial, sans-serif;")
html 
 ul
  li(style="color: white") PORT: #{8080}
  li(style="color: white") DATABASE: #{"You-Need-Sushi"}
  li(style="color: white") ADMIN_EMAIL: #{`elwin78@ethereal.email`}
  li(style="color: white") ADMIN_PASSWORD: #{'dJ8XU2ySstduEwZ4tU'}
  li(style="color: white") JWT_SECRET: #{'top-secret-51'}
  li(style="color: white") JWT_EXPIRE: #{'1d'}